<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
<!--         <property name="dialect">com.applerao.hibernatesqlite.dialect.SQLiteDialect</property> -->
        <property name="dialect">com.minder.rece.utils.db.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:db/recedb.db</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
         
        <property name="hibernate.hbm2ddl.auto">create</property>
         
        <mapping package="com.minder.rece.domain" />
        <mapping class="com.minder.rece.domain.AvailableCredit"/>
        <mapping class="com.minder.rece.domain.BusinessPlan"/>
        <mapping class="com.minder.rece.domain.Certificate"/>
        <mapping class="com.minder.rece.domain.CertificateType"/>
        <mapping class="com.minder.rece.domain.Company"/>
        <mapping class="com.minder.rece.domain.CompanySigner"/>
        <mapping class="com.minder.rece.domain.Country"/>
        <mapping class="com.minder.rece.domain.Credit"/>
        <mapping class="com.minder.rece.domain.Employee"/>
        <mapping class="com.minder.rece.domain.FileSplitAndSignConfiguration"/>
        <mapping class="com.minder.rece.domain.GrantedPermission"/>
        <mapping class="com.minder.rece.domain.Headquarter"/>
        <mapping class="com.minder.rece.domain.HeadquarterAssignment"/>
        <mapping class="com.minder.rece.domain.HeadquarterSupervisorAssignment"/>
        <mapping class="com.minder.rece.domain.Holding"/>
        <mapping class="com.minder.rece.domain.Language"/>
        <mapping class="com.minder.rece.domain.Liquidation"/>
        <mapping class="com.minder.rece.domain.LiquidationFile"/>
        <mapping class="com.minder.rece.domain.LiquidationFileStatus"/>
        <mapping class="com.minder.rece.domain.Password"/>
        <mapping class="com.minder.rece.domain.Permission"/>
        <mapping class="com.minder.rece.domain.Receipt"/>
        <mapping class="com.minder.rece.domain.RoleAssignment"/>
        <mapping class="com.minder.rece.domain.SignedReceipt"/>
        <mapping class="com.minder.rece.domain.Signer"/>
        <mapping class="com.minder.rece.domain.Token"/>
        <mapping class="com.minder.rece.domain.TokenType"/>
        <mapping class="com.minder.rece.domain.User"/>
        <mapping class="com.minder.rece.domain.UserRole"/>
    </session-factory>
</hibernate-configuration>